@model InvoiceNew.Models.InvoiceModel
@using System.Collections;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    <!-- Custom Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    var myid = "";
}

<div class="wrapper" style="background-color:whitesmoke">
    @using (Html.BeginForm("SubmitInvoice", "Invoice",FormMethod.Post))
    {
        <div id="Inv">

            <div id="page-wrapper">
                <div class="">
                    @*<div class="col-lg-12">
                        <h1 class="page-header">Invoice Reader</h1>
                    </div>*@
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Invoice
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td style="color:green">@Html.Raw(ViewBag.ErrMsg)</td>
                                    </tr>
                                </table>
                                <object data='@Url.Action("GetFile", "OrderItems",new { @filepath = Model.filePath})' width="600px" height="600px"></object>

                                <div id="dvPDFViewer">

                                    <article class="col-sm-12 col-md-12">

                                        <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false">

                                            <div id="divInvoiceImages">

                                             

                                                <div id="divInvoiceImage" class="ec-div">
                                                    <iframe id="iframeInvoiceImage" src='' style="height:99%;width:100%;display:none" allowfullscreen webkitallowfullscreen></iframe>
                                                    <img id="imgInvoiceImage" src="D:/InvoiceNew/InvoiceNew/Files/Temp/4315ea32-e9dd-4706-9005-b1500365753e/invoice_no68.pdf" style="height:100%;width:100%;overflow:scroll;transform:scale(1); transform-origin:left top; " class="zoom" />
                                                </div>

                                                <table id="tbInvoiceImages" style="width:100%">
                                                    <tr>
                                                        <td style="width:10%;"><i class="fa fa-caret-left cmdpv" onmousedown='ec_showInvoiceImage1();' onmouseup='nextimage(-1);' title="Previous Image"></i></td>
                                                        <td style="width:40%;">
                                                            <div class="photodivcfu">
                                                                @*<input type="file" class="cfu" id="filetoupload" multiple="multiple" onchange="addToInvoiceImagesList();" />*@
                                                                @*<button type="button" class="btn btn-primary" onclick="waitingDialog.show();setTimeout(function () {waitingDialog.hide();}, 3000);">Show dialog</button>*@
                                                            </div>
                                                            <span id='spannof' style="float:right;margin-right:10px;" />
                                                        </td>
                                                        <td style="width:30%;vertical-align:middle;">
                                                            <img src="~/Content/images/zoom_in.png" onclick="zoom(1);" style="position:relative;cursor:pointer;margin-right:0px;" class="zoombtn" />
                                                            <img src="~/Content/images/zoom_out.png" onclick="zoom(-1);" style="position:relative;cursor:pointer;margin-right:0px;" class="zoombtn" />
                                                            <i class="fa fa-remove" title="Remove Image" onmousedown='ec_showInvoiceImage1();' onmouseup='removeimage();' style="cursor:pointer;font-size:14pt;margin:0;padding:0;top:-6px;position:relative;display:inline-block;"></i>
                                                        </td>
                                                        <td style="width:10%;"><i class="fa fa-caret-right cmdpv" onmousedown='ec_showInvoiceImage1();' onmouseup='nextimage(1);' title="Next Image"></i></td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <table id="tbimglist" style="display:none;">
                                                <tr></tr>
                                            </table>

                                        </div>
                                    </article>

                                </div>
                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                    <div id="divInvoice">
                        <div class="col-sm-6 col-md-6" style="background-color:white">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Vendor Details
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table id="InvoiceInfo" class="display table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td style="font-weight:bold;">Invoice No.</td>
                                                <td>
                                                    @Html.HiddenFor(m => m.InvoiceID)
                                                    @Html.DisplayFor(m => m.InvoiceNumber)
                                                    @Html.ValidationMessageFor(m => m.InvoiceNumber)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">Invoice Date</td>
                                                <td>
                                                    @Html.DisplayFor(m => m.InvoiceDate)
                                                    @Html.ValidationMessageFor(m => m.InvoiceDate)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">InvoiceReceiveddate</td>
                                                <td>@Html.DisplayFor(m => m.InvoiceReceiveddate, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.InvoiceReceiveddate)</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">InvoiceDueDate</td>
                                                <td>@Html.DisplayFor(m => m.InvoiceDueDate, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.InvoiceDueDate)
                                                </td>
                                            </tr>
                                        
                                            <tr>
                                                <td style="font-weight:bold;">PONumber</td>
                                                <td>@Html.DisplayFor(m => m.PONumber)</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">PAN Number</td>
                                                <td>@Html.DisplayFor(m => m.PANNumber)</td>
                                            </tr>

                                            <tr>
                                                <td style="font-weight:bold;">VendorName</td>
                                                <td>@Html.DisplayFor(m => m.VendorName)</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:bold;">InvoiceDate</td>
                                                <td>@Html.DisplayFor(m => m.InvoiceDate)</td>
                                            </tr>
                                           

                                            @if (Model.UserTypes != null)
                                                {
                                                    for (int i = 0; i < Model.UserTypes.Count; i++)
                                                    {
                                                <tr class="RowClass">
                                                    <td style="font-weight:bold;">@Html.DisplayFor(m => m.UserTypes[i].UserTypeName)</td>
                                                    <td>@Html.DisplayFor(m => m.UserTypes[i].UserName, new { @class = "form-control" })</td>
                                                </tr>
                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- .panel-body -->
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-12" style="background-color:white">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="widget-icon"> <i class=" fa-lg fa fa-table"></i></span>
                                    <b>Approval History</b>
                                </div>
                                <div class="panel-body">
                                    <div class="form-inline" role="form">
                                        <div align="center" id="cmnt" style="border: thin inset;">

                                            <table id="divcomments" class="table-striped table-bordered table-hover table-condensed" style="width:100% ">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>

                                                </thead>

                                            </table>
                                        </div>

                                        <div id="labelfinaladetails" style="display:none;border: thin inset ">

                                            <fieldset>
                                                <div class="row">
                                                    <section>
                                                        <table style="border-collapse:separate; border-spacing:16px; width:88%" align="left" class="table-bordered table-hover ">
                                                            <tr>
                                                                <td align="right">
                                                                    <section class="col col-4">
                                                                        <label class="input">
                                                                            Navision Voucher No :
                                                                        </label>

                                                                    </section>
                                                                </td>
                                                                <td align="left">
                                                                    <section class="col col-4">
                                                                        <label class="input" id="lblNavisionVoucherno">
                                                                            @*@Html.TextBoxFor(m => m.Navisionvoucherno, new { placeholder = "Navision Voucher ", @class = "final", id = "txtNavisionVoucherno" })*@
                                                                            @Html.ValidationMessageFor(m => m.InvoiceAmount)
                                                                        </label>

                                                                    </section>
                                                                </td>
                                                             
                                                           </tr>
                                                        </table>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        @*@if (int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 2 || int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 3)*@
                        @if (true)
                        {
                        <div class="col-sm-12 col-md-12" style="background-color:white">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="widget-icon"> <i class=" fa-lg fa fa-table"></i> </span>
                                    <b>Vendor Rating</b>
                                </div>
                                <div class="panel-body">
                                    <div class="form-inline" role="form">
                                        <div class="widget-body">
                                            <div class="input-group" style="width:100%">
                                                <div id="divRating" class="col-sm-12" style="width:100%">
                                                    <table style="border-collapse:separate; border-spacing:16px; width:80%" align="left" class="table-bordered table-condensed table-hover">
                                                        <tr>
                                                            <td>
                                                                <label class="checkbox" style="margin-left:10%">
                                                                    @Html.RadioButtonFor(x => x.Rating, 1, new { id = "radioRating1" })
                                                                    <i></i>1 (Excellent)
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="checkbox" style="margin-left:10%">
                                                                    @Html.RadioButtonFor(x => x.Rating, 2, new { id = "radioRating2" })
                                                                    <i></i>2 (Very Good)
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="checkbox" style="margin-left:10%">
                                                                    @Html.RadioButtonFor(x => x.Rating, 3, new { id = "radioRating3" })
                                                                    <i></i>3 (Good)
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="checkbox" style="margin-left:10%">
                                                                    @Html.RadioButtonFor(x => x.Rating, 4, new { id = "radioRating4" })
                                                                    <i></i>4 (Average)
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="checkbox" style="margin-left:10%">
                                                                    @Html.RadioButtonFor(x => x.Rating, 5, new { id = "radioRating5" })
                                                                    <i></i>5 (Below Average)
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <br />

                                                <div id="divComment" align="left" class="col-sm-12" style="width:100%">
                                                    @Html.TextAreaFor(m => m.Comment, new { placeholder = "Your comment here...", id = "txtComment", @rows = 4, @class = "form-control", @style = "width:80%" })
                                                    @Html.ValidationMessageFor(m => m.Comment)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        @*=========================================================================================*@
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="widget-icon"> <i class="fa-lg fa fa-table"></i> </span>
                                    <b> Comments </b>
                                </div>
                                <div class="panel-body">
                                    <div class="form-inline" role="form">
                                        <div class="widget-body">
                                            <div class="input-group" style="width:100%">
                                                <div align="left" class="col-sm-12" style="width:100%" id="curentcoment">
                                                    @Html.TextAreaFor(m => m.Comment, new { placeholder = "Comment", id = "txtcomment", @rows = 4, @class = "form-control", @style = "width:80%" })
                                                    @Html.ValidationMessageFor(m => m.Comment)
                                                </div>
                                            </div>
                                            <div id="invoicepermissions" style="border: thin inset ; margin-top:1%">
                                                <fieldset>
                                                    <div>
                                                        <section>
                                                            <table style="border-collapse:separate; border-spacing:16px; width:80%" align="left" class="table-bordered table-condensed table-hover">
                                                                <tr>


                                                                    @*@if (int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 1 && Model.WFStatus == 300 )
                                                                        {*@
                                                                    @*<td id="rdrecommend">
                                                                        <label class="checkbox" style="margin-left:10%" id="chkAdmin">

                                                                            @Html.RadioButtonFor(x => x.status, "A", new { @class = "reassign", id = "Recommend" })

                                                                            <i></i>Recommend For payment
                                                                        </label>
                                                                    </td>*@
                                                                    @*}
                                                                        else
                                                                        {*@
                                                                    <td id="rdapprove">
                                                                        <label class="checkbox" style="margin-left:10%" id="chkAdmin">

                                                                            @Html.RadioButtonFor(x => x.status, "A", new { @class = "reassign", id = "radioApprove" })

                                                                            <i></i>Approve

                                                                        </label>

                                                                    </td>
                                                                    @*}*@
                                                                    <td>
                                                                        <label class="checkbox" style="margin-left:10%" id="chkAdmin">
                                                                            @Html.RadioButtonFor(x => x.status, "R", new { @class = "reassign", id = "idReject" })
                                                                            <i></i>Reject
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <label class="checkbox" style="margin-left:10%" id="chkAdmin">
                                                                            @Html.RadioButtonFor(x => x.status, "H", new { @class = "reassign", id = "idHold" })
                                                                            <i></i>Hold
                                                                        </label>
                                                                    </td>

                                                                    @*@if ((int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 2) || (int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 3))
                                                                        {*@
                                                                        <td id="reassignradio">
                                                                            <label class="checkbox" style="margin-left:10%" id="chkAdmin">
                                                                                @Html.RadioButtonFor(x => x.status, "ReAssign", new { @class = "reassign", id = "reassign" })
                                                                                <i></i>ReAssign
                                                                            </label>
                                                                        </td>
                                                                        @*}*@

                                                                        @* Added If condition as per new change request *@
                                                                        @*@if (int.Parse(HttpContext.Current.Session["UserTypeID"].ToString()) == 3)
                                                                        {*@
                                                                        <td style="display:none" id="reassigntd">
                                                                            <label class="select">
                                                                                @Html.DropDownList("ReAssignID", new SelectList(ViewBag.ReAssignUsers, "Value", "Text"), " ReAssign", new { id = "drpdwnreassign" })
                                                                                @Html.ValidationMessage("ReAssignID")
                                                                            </label>
                                                                        </td>
                                                                        @*}*@
                                                                        @*else
                                                                        {
                                                                        <td style="display:none" id="reassigntd">
                                                                            <label class="select">
                                                                                @Html.DropDownList("ReAssignID", new SelectList(ViewBag.Enduserreassignlist, "UserID", "UserName"), " ReAssign", new { id = "drpdwnreassign" })
                                                                                @Html.ValidationMessage("ReAssignID")
                                                                            </label>
                                                                        </td>
                                                                        }*@

                                                                        <td style="display:none" id="finalapprovertd">
                                                                            <label class="select">
                                                                                @*@Html.DropDownList("FinalApprovalID", new SelectList(ViewBag.finalapprovers, "UserID", "UserName"), " Final Approver ", new { id = "drpfinalapproval" })
                                                                                @Html.ValidationMessage("FinalApprovalID")*@
                                                                            </label>

                                                                        </td>

                                                                        <td id="VoucherTypes" style="display:none">
                                                                            @*@Html.DropDownList("VoucherType", new SelectList(ViewBag.VoucherTypes, Model), "Voucher Types ", new { id = "VoucherType" })
                                                                                @Html.ValidationMessage("VoucherType")*@

                                                                        </td>
                                                                        <td id="Services" style="display:none">
                                                                            @*@Html.DropDownList("LedgerServices", new SelectList(ViewBag.LedgerServices, Model))
                                                                                @Html.ValidationMessage("LedgerServices")*@

                                                                        </td>


                                                                        <td id="Ledgers" style="display:none">
                                                                            @*@Html.DropDownList("SelectedLedgerNames", new SelectList(ViewBag.LedgerNames, Model), new { @multiple = "multiple", @placeholder = "Please select Tax", @class = "SlectBox", id = "SelectedLedgerNames" })
                                                                                @Html.ValidationMessage("SelectedLedgerNames")*@

                                                                        </td>
                                                                    </tr>


                                                                </table>
                                                            </section>
                                                        </div>
                                                    </fieldset>


                                                </div>

                                                <div id="finaladetails" style="display:none;border: thin inset ">

                                                    <fieldset>
                                                        <div class="row">
                                                            <section>
                                                                <table style="border-collapse:separate; border-spacing:16px; width:100%" align="center" class="table-bordered table-hover ">
                                                                    <tr>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    Navision Voucher No :
                                                                                </label>

                                                                            </section>
                                                                        </td>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    @Html.TextBoxFor(m => m.Navisionvoucherno, new { placeholder = "Navision Voucher ", @class = "final", id = "txtNavisionVoucherno" })
                                                                                    @Html.ValidationMessageFor(m => m.InvoiceAmount)
                                                                                </label>

                                                                            </section>
                                                                        </td>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    Date of Payment :
                                                                                </label>

                                                                            </section>
                                                                        </td>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    @Html.TextBoxFor(m => m.DateOfPayment, new { placeholder = "Date of Payment", @class = "date final", id = "txtdateofpayment" })
                                                                                    @Html.ValidationMessageFor(m => m.DateOfPayment)
                                                                                </label>
                                                                            </section>
                                                                        </td>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    Date of Account :
                                                                                </label>
                                                                            </section>
                                                                        </td>
                                                                        <td>
                                                                            <section class="col col-4">
                                                                                <label class="input">
                                                                                    @Html.TextBoxFor(m => m.DateOfAccount, new { placeholder = "Date Of Account", @class = "date final", id = "txtDateOfAccount" })
                                                                                    @Html.ValidationMessageFor(m => m.DateOfAccount)
                                                                                </label>
                                                                            </section>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*=========================================================================================*@


                    </div><div class="col-md-10 col-md-offset-2">
    <button class="btn btn-primary cmd " type="submit" id='cmdSubmit'>
        <i class="fa fa-save"></i>
        Submit
    </button>
    <button class="btn btn-primary cmd" type="button" id='btnReassign' style="margin-left:8px; display:none">
        Re-Assign
    </button>
    <button class="btn btn-default cmd" type="button" id='cancelbtn' style="margin-left:8px">
        Cancel
    </button>
</div>
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>

    }


</div>

    <!-- /#page-wrapper -->


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
@*<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>*@
<script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
@*<script src="~/dist/css/js/sb-admin-2.js"></script>*@
<script src="~/dist/css/js/sb-admin-2.js"></script>
<!-- Page-Level Demo Scripts - Notifications - Use for reference -->
<script>
    // tooltip demo
    $('.tooltip-demo').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    })
    // popover demo
    $("[data-toggle=popover]")
        .popover()
</script>


<style type="text/css">
    #divInvoiceImages {
        height: 600px;
        /*width: 400px;*/
    }

    #divInvoiceDetails {
        position: relative;
        left: 64%;
        top: 1%;
        width: 36%;
        max-height: 98%;
        min-height: 98%;
        border: thin solid black;
    }

    #divInvoiceImage {
    }

    /*#imgInvoiceImage {
                                -ms-zoom: 0.75;
                                -moz-transform: scale(0.75);
                                -moz-transform-origin: 0 0;
                                -o-transform: scale(0.75);
                                -o-transform-origin: 0 0;
                                -webkit-transform: scale(0.75);
                                -webkit-transform-origin: 0 0;
                                overflow: scroll;
                            }*/

    #imgInvoiceImages {
        width: 100%;
        height: 100%;
    }





    /*Image Controls*/
    .imglist {
        display: none;
    }

    .cmdpv {
        cursor: pointer;
    }

    /* Styles for validation helpers
                            -----------------------------------------------------------*/
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }

    .ui-jqgrid tr.jqgrow td.wrap {
        white-space: normal !important;
        height: auto;
        padding-top: 2px;
        word-wrap: break-word;
    }

    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
        word-wrap: break-word;
    }

    .ui-jqgrid .ui-jqgrid-htable th div {
        height: auto;
        overflow: hidden;
        padding-right: 4px;
        padding-top: 2px;
        position: relative;
        vertical-align: text-top;
        white-space: normal !important;
    }

    #tbInvoiceImages {
    }

        #tbInvoiceImages td {
            border: 1px solid;
            padding: 3px 5px 3px 5px;
            text-align: center;
        }

    /*#tbInvList {
                                    width: 98%;
                                    top: 2%;
                                    left: 1%;
                                    height: auto;
                                    position: absolute;
                                    border: 1px solid lime;
                                }

                                    #tbInvList td, #tbInvList th {
                                        border: thin solid black;
                                        padding: 5px 3px 5px 3px;
                                    }*/

    .notapproved {
        color: blue;
    }

    .approved {
    }

    .ec-caret {
    }

    .ec-tr {
        display: none;
    }

    .ec-div {
        position: relative;
        width: 100%;
        overflow: auto;
        padding: 0;
        height: 92%;
        border: thin inset;
        margin-bottom: 1.5%;
    }

    .ec-table-invoice-image-icons {
        left: .2%;
        width: 8%;
        height: auto;
        border: thin solid white;
    }

    .ec-div-invoice-image {
        left: 9%;
        top: 1%;
        width: 49%;
        height: 86%;
        border: thin solid black;
        position: absolute;
        margin-top: 2px;
    }

    .ec-table-invoice-image-commands {
        left: 9%;
        top: 88%;
        width: 49%;
        position: absolute;
    }

    .ec-table-invoice-editor {
        left: 60%;
        width: 40%;
        top: 0%;
        border: thin solid;
        position: absolute;
        margin-top: 0px;
    }

    .ec-table-invoice-image-commands td {
        padding: 2px !important;
        border: thin solid;
        text-align: center;
        vertical-align: middle;
    }

    .tablepad td {
        border: none !important;
        padding: 5px 2px 5px 2px;
    }


    .ec-invoice-image-icon {
        position: relative;
        width: 60px;
        height: 60px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        -ms-touch-action: none;
    }
</style>

<script>
   // 
    $("input[name='status']").click(function () {
       
        if ($('input:radio[name=status]:checked').val() == "ReAssign") {
          //  alert($('input:radio[name=status]:checked').val());
            $("#reassigntd").show();
        }
        else {
            $("#reassigntd").hide();
        }
    });
    var rowKey = "82";
    //comment
    $.ajax({
        type: "post",
        async: false,
        url: '/Invoice/getcomments/',
        data: { invoiceno: rowKey },
        success: function (jsondata) {
            if (jsondata.success < 1) {
                return;
            }
            var parsed = $.parseJSON(jsondata.commentlist);
            $.each(parsed, function (k, v) {
                $("#divcomments").append(
                  "<tr><td>" + v.Comment + " </td> </tr>"
               );
            });

        },
        error: function (xhr, st, et) { alert(xhr.responseText); }
    });


    var frmInvoiceImageList = new window.FormData();
    var mNumberOfImages = -1;
    var currentDisplayedImageTD = null;
    var deletedInvoiceImageList = [];

    function ec_showInvoiceImage1() {
        $("#iframeInvoiceImage").removeAttr('src');
    }

    function nextimage(prev_next) {

        if ($("#tbimglist tr:nth-child(1) td").length < 1) return;
        if (prev_next == 1) {
            currentDisplayedImageTD = $(currentDisplayedImageTD).next("td");
            if (currentDisplayedImageTD.length < 1) currentDisplayedImageTD = $("#tbimglist tr:nth-child(1) td:first");

            var rsrc = $("img", currentDisplayedImageTD)[0].src;
            var rext = rsrc.substring(rsrc.lastIndexOf(".") + 1);
            if (rext != "pdf") {

                $("#imgInvoiceImage")[0].src = $("img", currentDisplayedImageTD)[0].src;
                $("#iframeInvoiceImage").hide();
                $("#imgInvoiceImage").show();
                // wheelzoom(document.getElementById('imgInvoiceImage'));
                $(".zoombtn").show();
            }
            else {

                $("#iframeInvoiceImage").attr('src', rsrc);
                //  $("#iframeInvoiceImage").src = rsrc;
                $("#imgInvoiceImage").hide();
                $("#iframeInvoiceImage").show();
                $(".zoombtn").hide();
            }
        }
        if (prev_next == -1) {

            currentDisplayedImageTD = $(currentDisplayedImageTD).prev("td");
            if (currentDisplayedImageTD.length < 1) currentDisplayedImageTD = $("#tbimglist tr:nth-child(1) td:last");

            var rsrc = $("img", currentDisplayedImageTD)[0].src;
            var rext = rsrc.substring(rsrc.lastIndexOf(".") + 1);
            if (rext != "pdf") {

                $("#imgInvoiceImage")[0].src = $("img", currentDisplayedImageTD)[0].src;
                $("#iframeInvoiceImage").hide();
                $("#imgInvoiceImage").show();
                // wheelzoom(document.getElementById('imgInvoiceImage'));
                $(".zoombtn").show();
            }
            else {
                $("#iframeInvoiceImage").attr('src', rsrc);
                $("#imgInvoiceImage").hide();
                $("#iframeInvoiceImage").show();
                $(".zoombtn").hide();
            }
        }

        var n = $("#tbimglist td").length;
        $("#spannof").text(($(currentDisplayedImageTD)[0].cellIndex + 1) + "/" + n);
    }
    function removeimage() {


        if ($("#tbimglist td").length != 0) {
            if (currentDisplayedImageTD == null) return;

            var imgsrc = $("img", currentDisplayedImageTD)[0].src;
            var imgpath = imgsrc.substring(imgsrc.lastIndexOf("/") + 1);
            $.ajax({
                type: "post", async: false,
                url: '/Invoice/removeInvoiceImages',
                data: { filename: imgpath },
                success: function (jsondata) {

                    var imgid = $("img", currentDisplayedImageTD)[0].id;
                    $("#imgInvoiceImage")[0].src = '';

                    var tcurrentDisplayedImageTD = ($(currentDisplayedImageTD).next("td").length != 0 ? $(currentDisplayedImageTD).next("td") : $(currentDisplayedImageTD).prev("td"));
                    $(currentDisplayedImageTD).remove();



                    currentDisplayedImageTD = tcurrentDisplayedImageTD;
                    deletedInvoiceImageList.push("filetoupload" + imgid.split("_")[1]);

                    if ($("#tbimglist td").length != 0) {

                        $("#spannof").show();

                        var rsrc = $("img", currentDisplayedImageTD)[0].src;
                        var rext = rsrc.substring(rsrc.lastIndexOf(".") + 1);
                        if (rext != "pdf") {

                            $("#imgInvoiceImage")[0].src = $("img", currentDisplayedImageTD)[0].src;
                            $("#iframeInvoiceImage").hide();
                            $("#imgInvoiceImage").show();
                            // wheelzoom(document.getElementById('imgInvoiceImage'));
                            $(".zoombtn").show();
                        }
                        else {
                            $("#iframeInvoiceImage")[0].src = $("img", currentDisplayedImageTD)[0].src;
                            $("#iframeInvoiceImage").show();
                            $("#imgInvoiceImage").hide();
                            $(".zoombtn").hide();
                        }
                        //$("#imgInvoiceImage")[0].src = $("img", currentDisplayedImageTD)[0].src;
                        //wheelzoom(document.getElementById('imgInvoiceImage'));
                        var n = $("#tbimglist td").length;
                        $("#spannof").text(($(currentDisplayedImageTD)[0].cellIndex + 1) + "/" + n);
                    }
                    else {
                        $("#spannof").hide();
                    }



                },
                error: function (xhr, st, et) { alert(xhr.responseText); }

            });
        }
        else {

            alert("No Images are there to remove");
        }
        ClearText();
    }

    function ClearText() {
        $("#InvoiceNumber").val("");
        $("#txtInvoiceAmount").val("");
        $("#txtinvoicereceiveddate").val("");
        $("#txtInvoiceDate").val("");
        $("#txtInvoiceDueDate").val("");
        $("#txtpono").val("");
        $("#txtpanno").val("");

        $('#drpdeptid').prop('selectedIndex', 0);
        $('#drpeduserid').prop('selectedIndex', 0);
        $('#drpenduserapproval').prop('selectedIndex', 0);
        $('#drpcostcenterid').prop('selectedIndex', 0);
        $('#drptaxtypeid').prop('selectedIndex', 0);

        $("#drpvendorid").val("");

    }

    function resetImagelist() {
        deletedInvoiceImageList = [];
        frmInvoiceImageList = new window.FormData();
        $("img.imglist").remove();
        $("#tbimglist td").remove();
        currentDisplayedImageTD = null;
        mNumberOfImages = -1;
    }

    function zoom(inout) {

        if ($("div.ec-div img").length < 1) return;
        if ($("#tbimglist tr").length < 1) return;

        $("div.ec-div img").css({
            "height": ($("div.ec-div img")[0].offsetHeight + $("div.ec-div img")[0].offsetHeight * .01 * inout) + "px",
            "width": ($("div.ec-div img")[0].offsetWidth + $("div.ec-div img")[0].offsetWidth * .01 * inout) + "px"
        });
    }

</script>
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


